
input {
  border: none;
  padding: 4px;
  outline: none;
  width: 100%;
  text-align: center;
  padding: 10px;
}  

.noteItem {
  border: 1px solid black;
  flex-wrap:wrap;
  margin: 15px;
  float: left;
  display:block; 
  padding: 1rem;
  width: 300px;
  display: flexbox;
}

form {
  
  width:auto;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 6px;
}

.header {
  margin: 0;
  padding: 10px 0 6px;
  background-color: pink;
  text-align: center;
}

.time {
  text-align: right;
}

form > button {
  margin-bottom: 6px;
}